# Java
*.jar
*.war
*.ear
*.class
target/
hs_err_pid*

# IntelliJ
/*.iml
out/
.idea/
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
intellij

# Eclipse
.metadata
.project
.cache
.classpath
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
.target
